/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */
body {
    font-family: 'Times New Roman';
    background-color: #F2CB9B;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
 }
 
 .grid-container {
    display: grid;
    grid-template-areas: 
    'header header header' 
    'kop kop kop'
    'afbeelding main main'
    'afbeelding main2 main2'
    'informatie informatie informatie'
    'next next next'
    'footer footer footer';
    grid-template-columns: 33.333333% 33.333333% 33.333333%;
    grid-template-rows: 90px 100px 400px 400px 400px 150px 50px;
 }      
 .header {
    grid-area: header;
    background-color: #d94436;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 35px;
    position: sticky;
    top: 0;
    z-index: 100;
 }
 .afbeelding {
   display: flex;
   align-items: center;
   justify-content: center;
    grid-area: afbeelding;
    margin: 15px 15px;
 }
 .passend-afbeelding {
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .kop {
   grid-area: kop;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color:  #ffeed9;
   color: rgb(0, 0, 0);
   font-size: 25px;
   margin-top: 15px;
   
}
 .main {
    grid-area: main;
    background-color:  #ffeed9;
    color: rgb(0, 0, 0);
    text-align: left;
    font-size: 24px;
    padding-left: 10px;
    margin: 15px 15px 15px 30px;
    border-style: solid;
    border-color: #734636;
 }
 .main2 {
   grid-area: main2;
   background-color:  #ffeed9;
   color: rgb(0, 0, 0);
   text-align: left;
   font-size: 24px;
   padding-left: 10px;
   margin: 15px 15px 15px 30px;
   border-style: solid;
   border-color: #734636;
   
}
 .informatie {
   grid-area: informatie;
   background-color:  #ffeed9;
   color: rgb(0, 0, 0);
   text-align: left;
   font-size: 24px;
   padding: 0px 15px;
   margin: 0px 15px 15px 15px;
   border-style: solid;
   border-color: #734636;
}

.next {
   grid-area: next;
   width: 80px;
   height: auto;
   margin-left: 10%;
   margin-top: 4%;
}

 .footer {
    grid-area: footer;
    background-color: #734636;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
 }


.text {
   font-size: 22px;
}


 /* verwijdert bullet points */
 nav ul { list-style-type: none; }
 
 /* DE LINKS IN DE HEADER */
 .links {
    margin-top: auto;
    margin-bottom: auto;
    color: #000000;
    
 }
 .link1, .link2, .link3, .link4, .link5, .link6 {
   margin-right: 30px;
   color: #000000;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   text-decoration: none;
   text-shadow: #c33d30 2px 5px;
}

/* animaties voor de header */
.link1:hover, .link2:hover, .link3:hover, .link4:hover, .link5:hover, .link6:hover {
   transform: translateY(-5px);
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}