/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */
  
/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */
body {
   font-family: 'Times New Roman';
   background-color: #F2CB9B;
   overflow-x: hidden;
   margin: 0;
   padding: 0;
}

.grid-container {
   display: grid;
   grid-template-areas: 
   'header' 
   'afbeelding'
   'main'
   'fotolink'
   'nav'
   'footer';
   grid-template-columns: auto;
   grid-template-rows: 90px 500px 500px 350px 250px 50px;
}      
.header {
   grid-area: header;
   position: sticky;
   top: 0;
   z-index: 100;
   background-color: #d94436;
   color: rgb(0, 0, 0);
   text-align: center;
   font-size: 35px;
   
}
.afbeelding {
   grid-area: afbeelding;
   margin: 20px 0px;
}
.main {
   grid-area: main;
   background-color:  #ffeed9;
   color: rgb(0, 0, 0);
   text-align: left;
   font-size: 25px;
   padding: 5px 0px 0px 15px;
}
.nav {
   grid-area: nav;
   background-color: #84b1d9;
   color: rgb(0, 0, 0);
   text-align: center;
   font-size: 20px;
}
.overons {
   font-size: 32px;
}
.footer {
   grid-area: footer;
   background-color: #734636;
   color: rgb(255, 255, 255);
   text-align: center;
   font-size: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

.foto {
   background-color: #ffffff;
   margin: 20px;
   padding: 10px;
   border: 1px #dddddd;
   width: 40%;
   display: block;
   border-radius: 5px;
   margin-left: auto;
   margin-right: auto;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.foto:hover {
   transform: translateY(-5px);
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.text {
   font-size: 18px;
}
/* verwijdert bullet points */
nav ul { list-style-type: none; }

/* DE LINKS IN DE HEADER */
.links {
   margin-top: auto;
   margin-bottom: auto;
   color: #000000;
}
.link1, .link2, .link3, .link4, .link5, .link6 {
   margin-right: 30px;
   color: #000000;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
   text-decoration: none;
   text-shadow: #c33d30 2px 5px;
}

/* animaties voor de header */
.link1:hover, .link2:hover, .link3:hover, .link4:hover, .link5:hover, .link6:hover {
   transform: translateY(-5px);
   box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}